@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    font-size: 1.25rem;
}

*:focus {
    outline: none;
}

body > div {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

details {
    position: relative;
}

details div {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 1.5em;
}

details div > * + * {
    margin-top: 1.5em;
}

details + details {
    margin-top: .5rem;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    border: 2px solid #000;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "↓";
    width: 1.75rem;
    height: 1.75rem;
    background-color: #000;
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

details[open] summary {
    background-color: #e1ffb2;
}

details[open] summary:before {
    content: "↑";
}

summary:hover {
    background-color: #e1ffb2;
}

a, .no-result {
    color: rgb(41, 41, 41);
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 1px 0 0;
}

a:hover {
    box-shadow: 0 3px 0 0;
    color: green;
}

code {
    font-family: monospace;
    font-weight: 600;
}

p {
    margin-block: .1rem;
}

.center {
    align-items: center;
    display: flex;
    gap: 1rem;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: center;

    & img {
        flex-basis: 80px;
    }
}

.search {
    display: grid;
    place-content: center;
    position: relative;
}

.search__result {
    display: grid;
    place-content: center;
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
}

.search__result ul {
    background: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 15px #00000010;
    list-style: none;
    min-width: 250px;
    padding-left: 0;
    position: relative;
    z-index: 5;
}

.search__result li {
    padding-block: .5rem;
    padding-inline: .5rem;
    border-bottom: 1px solid lightgray;
}

.search__result li:hover {
    background: #e1ffb2;
}

.search__result li.no-result-container:hover {
    background: none;
}

.search__result a, .no-result {
    box-shadow: none;
    font-size: .9rem;
    font-weight: normal;
    padding: .5rem;
}

.search__result ul li:last-child {
    border-bottom: none;
}

.search__box {
    border: 2px solid black;
    caret-color: green;
    color: dimgray;
    font-size: 1rem;
    padding: 1rem;

}

.no-result {
    display: block;
    text-align: center;
    width: 100%;
}

.hide {
    display: none;
}